.device-list {
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  padding: 20px 200px;
}

h1 {
  color: #333;
}
.device-header {
  display: flex;
  justify-content: space-between;
}
.device-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.device-table th,
.device-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.device-table th {
  background-color: #f2f2f2;
}

.device-table img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.action-button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 3px;
}

.up {
  background-color: #4caf50;
}

.del {
  background-color: #f44336;
}

.button-add {
  background-color: #008cba;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  height: 35px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  color: #333;
}

.modal form {
  margin-top: 10px;
  width: 400px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-close {
  background-color: #ccc;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  height: 35px;
}
